<%= render "shared/lang_nav" %>

<header>
  <h1><%= t('alentours.title').capitalize %></h1>
</header>
<main id="alentours">
  <section>
    <div class="card">
      <%= image_tag "wegelnburg.jpg" %>
      <div class="footer">
        <h2>Chemin des châteaux forts d'Alsace</h2>
        <div class="hide-content">
          <p class="more">En savoir plus</p>
          <p class="content">
            bonjout fhzbefbqezgbqzm hfbhzbghez
            gioergbuerbguerbg fbzibguearbgbreugberiu
            bonjout fhzbefbqezgbqzm hfbhzbghez
            gioergbuerbguerbg fbzibguearbgbreugberiu
            bonjout fhzbefbqezgbqzm hfbhzbghez
            gioergbuerbguerbg fbzibguearbgbreugberiu
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <%= image_tag "strasbourg.jpg" %>
      <div class="footer">
        <h2>Strasbourg</h2>
        <div class="hide-content">
          <p class="more">En savoir plus</p>
          <p class="content">
            bonjout fhzbefbqezgbqzm hfbhzbghez
            gioergbuerbguerbg fbzibguearbgbreugberiu
            bonjout fhzbefbqezgbqzm hfbhzbghez
            gioergbuerbguerbg fbzibguearbgbreugberiu
            bonjout fhzbefbqezgbqzm hfbhzbghez
            gioergbuerbguerbg fbzibguearbgbreugberiu
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <%= image_tag "schoeneck.jpg" %>
      <div class="footer">
        <h2>Schoeneck</h2>
        <div class="hide-content">
          <p class="more">En savoir plus</p>
          <p class="content">
            bonjout fhzbefbqezgbqzm hfbhzbghez
            gioergbuerbguerbg fbzibguearbgbreugberiu
            bonjout fhzbefbqezgbqzm hfbhzbghez
            gioergbuerbguerbg fbzibguearbgbreugberiu
            bonjout fhzbefbqezgbqzm hfbhzbghez
            gioergbuerbguerbg fbzibguearbgbreugberiu
          </p>
        </div>
      </div>
    </div>
    <div class="card"></div>
    <div class="card"></div>
  </section>
</main>

